In [1]:
a = 10
b = a+100
quotient = b//10
print(quotient)

11

In [3]:
print(type(b))

<class 'int'>

In [4]:
print("""
something is better than nothing
Yes
      hello
      world
""")

something is better than nothing
Yes
      hello
      world

In [5]:
c = 9
print (b==110 or c == 10)

True

In [6]:
print (not c == 10)

True

In [7]:
nums = list(range(5))
print(nums)

[0, 1, 2, 3, 4]

In [8]:
print(nums[2:4])
# Slicing
print(nums[2:])
print(nums[:4])
print(nums[:])
print(nums[:-1])

[2, 3]
[2, 3, 4]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]

In [9]:
nums[2:4] = [8,9]

In [10]:
print(nums)

[0, 1, 8, 9, 4]

In [11]:
# tuple
t = ("NYU", "DataScience", 100, 201)
print(t)
print(type(t))
print(t[1:])
t[2:3] = [8,9]
print(t)

('NYU', 'DataScience', 100, 201)
<class 'tuple'>
('DataScience', 100, 201)

TypeError: 'tuple' object does not support item assignment

In [12]:
# Dictionary
d = {"a":1, 2 : "Rohan", 's': 10}
print(d)
print(d['s'])

{'a': 1, 2: 'Rohan', 's': 10}
10

In [13]:
print(d.items())

dict_items([('a', 1), (2, 'Rohan'), ('s', 10)])

In [14]:
print('s' in d)
print("rohan" in d)

True
False

In [15]:
dt = {}
dt['key1'] = 'value1'
dt[10] = 11

print(dt)
print(dt.get('key1'))
print(dt.get('key3')) # works
print(dt['key3']) # throws error

{'key1': 'value1', 10: 11}
value1
None

KeyError: 'key3'

In [16]:
# For loop
sum = 0
for i in range(5):
    sum += i
print(sum)

10

In [17]:
# While loop
sum = 0
i = 0
while i < 5:
    sum += i
    i += 1
print(sum)

10

In [18]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

for i in range(len(animals)):
    print(f'#{i+1}: {animals[i]}')

for idx, animal in enumerate(animals):
    print(f'#{idx+1}: {animal}')

cat
dog
monkey
#1: cat
#2: dog
#3: monkey
#1: cat
#2: dog
#3: monkey

In [19]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print(d.get(animal))

for i in d.items():
    print(i)
    print(d.get(i))

2
4
8
('person', 2)
None
('cat', 4)
None
('spider', 8)
None

In [20]:
a = 1,2
print(a)
print(type(a))

(1, 2)
<class 'tuple'>

In [21]:
a,b = 1,2
print(a)
print(b)

1
2

In [22]:
s = "12345" # immutable
print(s[0])
print(s[-3])

1
3

In [23]:
s[1] = '2' # throws error

TypeError: 'str' object does not support item assignment

In [24]:
s = "hello"
print(s + "world")

helloworld

In [25]:
s = list(s)
s[0] = 'H'
print(s)
print(type(s))
s = ''.join(s)
print(s)
print(type(s))

['H', 'e', 'l', 'l', 'o']
<class 'list'>
Hello
<class 'str'>

In [26]:
TestString = "Hello World Rohan"
TestString = TestString.split(" ")
print(TestString)

['Hello', 'World', 'Rohan']

In [27]:
t = " ".join(TestString)
print(t)

Hello World Rohan

In [28]:
s = "hello"
print(s.capitalize())
print(s.upper())
print(s.replace('l', '(ell)'))
print(s.rjust(7)) # right justified
print(s.center(7)) # center justified

Hello
HELLO
he(ell)(ell)o
  hello
 hello

In [29]:
l = ["apple", "banana", "cherry"]
m = ["grapes", "mango", "orange"]
lm = l + m
print(lm)
l.extend(m)
print(l)
lm.append("kiwi")
print(lm)
print(lm[::-1]) # reverse

['apple', 'banana', 'cherry', 'grapes', 'mango', 'orange']
['apple', 'banana', 'cherry', 'grapes', 'mango', 'orange']
['apple', 'banana', 'cherry', 'grapes', 'mango', 'orange', 'kiwi']
['kiwi', 'orange', 'mango', 'grapes', 'cherry', 'banana', 'apple']

In [30]:
mydict = {"name": "Rohan", "age": 25}
print(mydict.keys())
print(mydict.values())

dict_keys(['name', 'age'])
dict_values(['Rohan', 25])

In [31]:
shresth = "100"
def performOperation():
    print(shresth)

performOperation()

100